.Sidebar{
    width: 300px;
    background: #F5F5F5;
}
/* Logo */
.Logo{
    display: flex;
    align-items: center;
    justify-content: center;
    /* height: 60px; */
}
.Logo img{
    height: 100px;
}
.Logo span{
    font-size: 32px;
    font-weight: bold;
    color: #59C8FF;
}
/* listSidebar */
.listSidebar .content{
    display: flex;
    font-size: 18px;
    height: 50px;
    margin-top: 20px;
    align-items: center;
}
.listSidebar svg{
    margin-left: 25px;
}
.listSidebar .content:first-child{
    margin-top: 10px;
}
.listSidebar .content a{
    color: black;
    text-decoration: none;
}
.listSidebar .content span{
    margin-left: 20px;
}
.listSidebar .active{
    background: #C7ECFF;
}
.listSidebar .active::before{
    content: '';
    width: 10px;
    height: 100%;
    background: #59C8FF;
}